{{! variables companyDetails and oneCompany will be declared in the insights.routes.js file  }}

<h1>company insights</h1>
<form action='/insights/company' method='get'>
  <select name='company' id='companyName'>

    {{#each allCompanies}}


      <option value='{{_id}}'>{{this.name}}</option>

    {{/each}}

  </select>
  <button>Search company infos</button>
</form>

{{#if oneCompany}}
  <div id='companyInfos'>

    <h2> {{oneCompany.name}} </h2>

    <div>
      <p>Note generale: <span class='note'>{{globalNote}}</span></p>
      <h2>Reviews</h2>
      {{#each reviews}}
        <ul>
          <li>location:{{location}}</li>
          <li>company note:{{company_note}}</li>
          <li>Review: {{company_review}}</li>
        </ul>
      {{/each}}
    </div>

  </div>
{{/if}}