{{! variables companyDetails and oneCompany will be declared in the insights.routes.js file  }}
<form action='' method='post'>
  <select name='companyName' id='companyName'>

    {{#each companyDetails}}
      <option value='{{name}}'>{{name}}</option>
    {{/each}}

  </select>
</form>

{{#if oneCompany}}
  <div id='companyInfos'>

    <h2> {{oneCompany.name}} </h2>

    <div>

      <ul>
        <li>location:{{oneCompany.location}}</li>
        <li>company note:{{oneCompany_note}}</li>
        <li>reviews:</li>
        {{#each oneCompany}}
          <p> {{_review}}</p>
        {{/each}}
      </ul>

    </div>

  </div>
{{/if}}