{{! variables companyDetails and oneCompany will be declared in the insights.routes.js file  }}
<div class='titleCompany'>
  <h1>Company insights</h1>
</div>

<form action='/insights/company' id='optionValue' method='get'>
  <select name='company' id='companyName'>

    {{#each allCompanies}}

      <option value='{{_id}}'>{{this.name}}</option>

    {{/each}}

  </select>
  <button id='btnSearchCompany'>Search company infos</button>
</form>

{{#if oneCompany}}
  <div id='companyInfos'>

    <h2> {{oneCompany.name}} </h2>

    <div class='infoCompany'>
      <p><span>Global rating:</span>
        <span class='note'>{{globalNote}}</span></p>
      <h2>Reviews</h2>
      {{#each reviews}}
        <ul>
          <li><span>Location:</span> {{location}}</li>
          <li><span>Company rating:</span> {{company_note}}</li>
          <li><span>Review:</span> {{company_review}}</li>
        </ul>
      {{/each}}
    </div>

  </div>
{{/if}}