<h1>Browse all salaries</h1>

<h4>Transparency in salary is not only a matter of fairness, but also a powerful tool for beginners to assess their worth,
negotiate better compensation, and plan for their financial future.</h4>

<section class='company-container'>
  {{#each allSalaries}}

    <article class='companies'>

      <ul>
        <li> <span>job title: </span> {{this.title}}</li>
        <li><span>company: </span>{{this.company.name}}</li>
        <li><span>annual compensation: </span>{{this.compensation}}€</li>
        <li><span>city: </span>{{this.location}}</li>
        <li><span>level: </span>{{this.level}}</li>
        <li><span>seniority: </span>{{this.company_xp}}</li>
        <li><span>years of experience: </span>{{this.total_xp}}</li>
      </ul>
    </article>

  {{/each}}
</section>