<h1>Curious about how much your peers make?</h1>


<h4>Explore salary ranges and compare them across locations and levels of
  experience. Whether you're just starting out in the field or looking for
  advancement, we can help you make better decisions.</h4>


<section class='company-container'>
  {{#each allSalaries}}

    <article class='companies animate__animated animate__fadeIn'>

      <ul>
        <li> <span>job title: </span> {{this.title}}</li>
        <li><span>company: </span>{{this.company.name}}</li>
        <li><span>annual compensation: </span>{{this.compensation}}€</li>
        <li><span>city: </span>{{this.location}}</li>
        <li><span>level: </span>{{this.level}}</li>
        <li><span>seniority: </span>{{this.company_xp}}</li>
        <li><span>years of experience: </span>{{this.total_xp}}</li>
      </ul>
    </article>

  {{/each}}
</section>